<!doctype html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Bloginator</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <h3>Quote of the day</h3>
    <p>"<%= quote %>"</p>
    <br>
    <br>
    <a class="btn btn-default" href="/posts">Checkout the blog</a>
  </body>
</html>